<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shelf.name %>
</p>

<p>
  <b>Description:</b>
  <%= @shelf.description %>
</p>

<p>
  <b>Products:</b> <br/>
  <% @products= @shelf.products %>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.image.url(:thumb)) + product.name, url_for({:controller => 'products', :action => 'show', :id => product.id}) %>
        </td>


<%end%>

</p>


<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
