<div data-role="header">

  <h1><%= @shelf.name %></h1>
</div>
<div data-role="content">
  <p id="notice"><%= notice %></p>
  <p>
    <%= @shelf.description %>
  </p>
</div>


<div data-role="content">
  <b>Products:</b> <br/>
  <% @products= @shelf.products %>
  <% @products.each do |product| %>
      <tr>
        <td><%=image_tag product.image.url(:thumb)%></td>
        <td><%= product.name%></td><br/>
  <%end%>
     </div>
</p>
